# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*/R.java

# generated folder
bin
gen

# local
local.properties
proguard.cfg

# log files
log*.txt

# archives
*.gz
*.tar
*.zip

# Eclipse
*.metadata
*.settings

# Android Studio | IDEA
*.idea
# iml files are not ignored
# *.iml
out/
build/
*$$ViewInjector.java
.gradle/
*.iml

.classpath
.project
project.properties
obj
*.hprof

